<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>abc</title>
        <link rel="stylesheet" href="../css/foundation.css" />
    </head>
    <body>
        <div class="grid-x grid-padding-x">
            <div class="cell">
                <h1>столики забронированы</h1>
            </div>
            <form method="post">
                <div class="cell">
                    <input type="submit">
                </div>
            </form>
        </div>
    </body>
</html>